<div>
    <div navbar></div>

    <div class="col-8 centered">
        <div class="box">
            <h1>EDIT PROFILE</h1>
        </div>
        <div class="box">
            <div>
                <div class="box form">
                    <div id="user-img" user-photo photo="loggedUser.newProfileImageData || loggedUser.profileImageData"></div>

                    <p>Allowed Format: .jpg</p>
                    <p>Limit: 128kb</p>

                    <input class="btn" id="photo-input" type="file" ng-model="loggedUser.newProfileImageData" accept="image/*" app-filereader />
                    <button class="btn" profile.deleteUserPhoto()>Delete</button>

                    <!--<td class="user-photo-buttons">
                        <input type="file" ng-model class="btn" id="image" accept="image/*" onchange="angular.element(this).scope().fileSelected(this)">
                        <button type="submit" class="btn btn-primary wide-buttons" ng-click='deleteImg()'>Delete</button>
                    </td>TODO: functionality-->
                </div>
                <div class="box form">
                    <div class="box">
                        <label>
                            Name
                            <input type="text" ng-model="userEditName"/>
                        </label>
                        <br/>

                        <label>
                            Email
                            <input type="text" placeholder="Email" ng-model="loggedUser.email"/>
                        </label>
                        <br/>

                        Gender<form class="box inline">
                            <label>
                                <input type="radio" ng-model="loggedUser.gender" value="1" />
                                Male
                            </label>
                            <label>
                                <input type="radio" ng-model="loggedUser.gender" value="2" />
                                Female
                            </label>
                            <label>
                                <input type="radio" ng-model="loggedUser.gender" value="0" />
                                Other
                            </label>
                        </form>
                    </div>
                    <div class="box">
                        <div>
                            <input class="btn" id="cover-input" type="file" ng-model="loggedUser.newCoverImageData" accept="image/*" app-filereader />
                            Limit: 1024kb
                        </div>
                        <button class="btn" ng-click="profile.deleteUserCover()">Delete</button>
                        <div>
                            <img id="cover-img" src="{{ loggedUser.newCoverImageData || loggedUser.coverImageData }}"/>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn" ng-click="profile.editProfile()">SAVE CHANGES</button><!--TODO: functionality-->
        </div>
    </div>
</div>