<div ng-controller="profileController">
    <div navbar-directive></div>

    <!--TODO: style-->
    <h1>NEWS FEED</h1>
    <ul>
        <li ng-repeat="post in profile.newsFeedPosts">
            <div class="wall-post {{post.id}}">
                <div class="author-data">
                    <a href="/users/{{post.author.username}}" > <!-- TODO: set up popup-->
                        <img src="" alt=""/>
                        <h3 class="author">{{post.author.name}}</h3>
                        <p class="date">{{post.date | date: 'd MMM yyyy HH:mm:ss'}}</p>
                    </a>
                </div>

                <div class="postContent">
                    <h3>{{post.postContent}}</h3>
                    <div class="likesComments" ng-controller="postController">
                        <div class="likes">
                            <span>{{post.likesCount}}</span>
                            <img src="" alt=""/> <!-- TODO: like img-->
                            <a href="" ng-click="posts.likePost(post.id)" ng-show="!post.liked">Like</a>
                            <a href="" ng-click="posts.unlikePost(post.id)" ng-hide="!post.liked">Unlike</a>
                        </div>
                        <div class="comments" ng-controller="commentController">
                            <span>{{post.comments.length}}</span>
                            <img src="" alt=""/> <!-- TODO: Comment img-->
                            <input type="checkbox" ng-model="comments.showAddForm"/>Comment
                            <div id="addCommentToPost{{post.id}}" class="addCommentForm" data-ng-show="comments.showAddForm">
                                <input type="text" ng-model="comments.newCommentContent"/>
                                <button ng-click="comments.addCommentToPost(post.id, comments.newCommentContent)">Add Comment</button>
                            </div>
                        </div>
                        <div class="post-comments">
                            <div ng-repeat="comment in post.comments" class="comment {{comment.id}}">
                                <div class="author-data">
                                    <a href="/users/{{comment.author.username}}" > <!-- TODO: set up popup-->
                                        <img src="" alt=""/>
                                        <h3 class="author">{{comment.author.name}}</h3>
                                        <p class="date">{{comment.date | date: 'd MMM yyyy HH:mm:ss'}}</p>
                                    </a>
                                </div>
                                <div class="content">
                                    <h3>{{comment.commentContent}}</h3>
                                    <div class="likesComments">
                                        <div class="likes">
                                            <span>{{comment.likesCount}}</span>
                                            <img src="" alt=""/> <!-- TODO: like img-->
                                            <div class="commentLikes" ng-controller="commentController">
                                                <a href="" ng-click="comments.likeComment(post.id, comment.id)" ng-show="!comment.liked">Like</a>
                                                <a href="" ng-click="comments.unlikeComment(post.id, comment.id)" ng-hide="!comment.liked">Unlike</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-controller="commentController" class="edit-comment" ng-if="comment.author.username == profile.myUsername">
                                        <input type="checkbox" ng-model="comments.showEditForm" data-ng-hide="comments.showEditForm" />Edit Comment
                                        <div id="editComment{{post.id}}" class="addCommentForm" data-ng-show="comments.showEditForm">
                                            <input type="text" ng-model="comments.editCommentContent"/>
                                            <button ng-click="comments.editComment(post.id, comment.id, comments.editCommentContent)">Edit</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <ul>
        <h2>Friends - <a href="users/{{ currentUser.username }}/friends">{{ profile.previewFriends.totalCount }}</a> total</h2>
        <li ng-repeat="friend in profile.previewFriends.friends">
            <a href="/users/{{friend.username}}">
                <img src="" alt=""/>
                <h3 class="{{friend.id}} name">{{friend.name}}</h3>
            </a>
        </li>
    </ul>
</div>