<div id="notLoggedScreen" class="wrapper" ng-controller="authenticationController">
    <div class="navibar">
        <h1>Social Network</h1>
    </div>

    <div class="page-content">
        <div class="form">
            <label>Username</label><br/>
            <input type="text" class="username" ng-model="loginData.username"/><br/>
            <label>Password</label><br/>
            <input type="password" class="password" ng-model="loginData.password"/><br/>

            <div class="buttons">
                <button ng-click="authentication.loginUser()">Login</button>
            </div>
        </div>

        <div class="form">
            <label>Username</label><br/>
            <input type="text" class="username" ng-model="registerData.username"/><br/>
            <label>Password</label><br/>
            <input type="password" class="password" ng-model="registerData.password"/><br/>
            <label>Confirm Password</label><br/>
            <input type="password" class="password" ng-model="registerData.confirmPassword"/><br/>
            <label>Name</label><br/>
            <input type="text" class="namw" ng-model="registerData.name"/><br/>
            <label>Email</label><br/>
            <input type="email" class="email" ng-model="registerData.email"/><br/>
            <label>Gender</label><br/>
            <form class="gender" ng-model="registerData.gender">
                <input type="radio" ng-model="registerData.gender" value="1" checked />Male
                <input type="radio" ng-model="registerData.gender" value="2" />Female
                <input type="radio" ng-model="registerData.gender" value="0" />Other
            </form>

            <div class="buttons">
                <button ng-click="authentication.registerUser()">Register</button>
            </div>
        </div>
    </div>

</div>