<!doctype html>
<html lang="en" data-ng-app="SocialNetwork">
<head>
    <meta charset="UTF-8">
    <title>Social Network</title>
    <script src="node_modules/angular/angular.js/"></script>
    <script src="node_modules/angular-route/angular-route.js/"></script>
</head>
<body>
    <!-- TODO: directive for navbar, only if user logged-->

    <div ng-view></div>

    <div ng-controller="profileController">
        <button ng-click="getNewsFeedPages()">BUTTON</button>
    </div>

    <div ng-controller="authenticationController">
        <button ng-click="logout()">Logout</button>
        {{ logged }}
    </div>

    <!-- TODO: include all *.js files-->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/navbarController.js"></script>
    <script src="scripts/controllers/authenticationController.js"></script>
    <script src="scripts/services/authenticationService.js"></script>
    <script src="scripts/directives/navbarDirective.js"></script>
    <script src="scripts/controllers/profileController.js"></script>
    <script src="scripts/services/$http/restServices.js"></script>
</body>
</html>