<div class="post-comments">
    <div ng-repeat="comment in post.comments" class="comment" id="comment-{{comment.id}}">
        <div class="author-data">
            <div user-preview user="comment.author"></div>
            <p class="date">{{comment.date | date: 'd MMM yyyy HH:mm:ss'}}</p>
        </div>
        <div class="content">
            <h3>{{comment.commentContent}}</h3>
            <div class="likesComments">
                <div class="likes">
                    <span>{{comment.likesCount}}</span>
                    <img src="" alt=""/> <!-- TODO: like img-->
                    <div class="commentLikes" ng-controller="commentController">
                        <a href="" ng-click="comments.likeComment(post.id, comment.id)" ng-show="!comment.liked">Like</a>
                        <a href="" ng-click="comments.unlikeComment(post.id, comment.id)" ng-hide="!comment.liked">Unlike</a>
                    </div>
                </div>
            </div>
            <div ng-controller="commentController" class="edit-comment" ng-if="comment.author.username == loggedUser.username">
                <a href="" ng-click="comments.showEditForm = !comments.showEditForm" ng-hide="comments.showEditForm">Edit Comment</a>
                <div class="addCommentForm" data-ng-show="comments.showEditForm">
                    <input id="edit-comment_{{ comment.id }}-text" type="text" ng-model="comments.editCommentContent"/>
                    <button ng-click="comments.editComment(post.id, comment.id, comments.editCommentContent)">Edit</button>
                </div>
                <button ng-click="comments.deleteComment(post.id, comment.id)">Delete</button>
            </div>
        </div>
    </div>
</div>