<nav class="navbar thin-black-border">
    <div class="row">

        <div class="nav-buttons inline col-8">
            <a class="non-decor logged-user-icon" href="#users/{{ loggedUser.username }}">
                <div user-photo photo="loggedUser.profileImageData" class="user-small-img"></div>
                <h2 class="user-name">{{ loggedUser.name }}</h2>
            </a>

            <a href="#/"><img class="icon" src="/img/news-feed.png"/></a>
            <div class="fr" friend-requests></div>
            <a href="#/profile"><img class="icon" src="/img/edit-profile.png"/></a>
            <a href="#/profile/password"><img class="icon" src="/img/change-password.png"/></a>
            <a href="#/logout" logout></a>
        </div>

        <div class="inline col-4" search-bar></div>
    </div>
</nav>