<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <a href="#/users/{{ loggedUser.username }}">
            <p>{{ loggedUser.name }}</p>
            <img id="navbarLoggedUserImg" ng-src="{{ loggedUser.profileImageData }}"/>
        </a>

        <!--TODO: Set up functionality-->
        <p ng-click="profile.getFriendRequests()" ng-controller="popoverController" popover-placement="bottom" popover-trigger="click" popover-template="partials/popovers/friendRequestPopover.html" popover-title="{{popovers.friendRequest.title}}" >Friend Requests: {{loggedUser.friendRequests.length}}</p> <!-- TODO: set up popup-->
        <a href="#/profile"><p>Edit Profile</p></a>
        <a href="#/profile/password"><p>Change Password</p></a>
        <a href="#/logout" logout></a>

        <!--TODO: Set up search bar-->
        <input type="text" placeholder="Search..." ng-controller="userController"  ng-change="user.searchUsersByName(user.searchName)" ng-model="user.searchName">{{ user.searchName }}<!-- TODO: clean up: -->
    </div>
</nav>