<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">

        <a href="#users/{{ loggedUser.username }}">
            <div user-photo photo="loggedUser.profileImageData" class="user-small-img"></div>
            {{ loggedUser.name }}
        </a>

        <a href="#/"><img class="icon" src="/img/news-feed.png"/></a>
        <div friend-requests></div>
        <a href="#/profile"><img class="icon" src="/img/edit-profile.png"/></a>
        <a href="#/profile/password"><img class="icon" src="/img/change-password.png"/></a>
        <a href="#/logout" logout></a>

        <!--TODO: Set up search bar-->
        <!--<input type="text" placeholder="Search..." ng-controller="userController"  ng-change="user.searchUsersByName(user.searchName)" ng-model="user.searchName">{{ user.searchName }}&lt;!&ndash; TODO: clean up: &ndash;&gt;-->
        <div search-bar></div>
    </div>
</nav>