<!--<div ng-repeat="post in profile.newsFeedPosts">-->
<div ng-repeat="post in postsData">
    <div class="post" id="post-{{post.id}}">
        <div class="author-data">
            <a href="#/users/{{post.author.username}}" > <!-- TODO: set up popup-->
                <img src="" alt=""/>
                <h3 class="author">{{post.author.name}}</h3>
                <p class="date">{{post.date | date: 'd MMM yyyy HH:mm:ss'}}</p>
            </a>
        </div>

        <div class="postContent">
            <h3>{{post.postContent}}</h3>
            <div class="likesComments">
                <div class="likes">
                    <span>{{post.likesCount}}</span>
                    <img src="" alt=""/> <!-- TODO: like img-->
                    <a href="" ng-click="posts.likePost(post.id)" ng-hide="post.liked">Like</a>
                    <a href="" ng-click="posts.unlikePost(post.id)" ng-show="post.liked">Unlike</a>
                </div>
                <div class="comments" ng-controller="commentController">
                    <span>{{post.totalCommentsCount}}</span>
                    <img src="" alt=""/> <!-- TODO: Comment img-->
                    <a href="" ng-click="comments.showAddForm = !comments.showAddForm">Comment</a>
                    <div id="addCommentToPost{{post.id}}" class="addCommentForm" data-ng-show="comments.showAddForm">
                        <input type="text" ng-model="comments.newCommentContent"/>
                        <button ng-click="comments.addCommentToPost(post.id, comments.newCommentContent)">Add Comment</button>
                    </div>
                </div>
                <div comments></div>
            </div>
        </div>
    </div>
</div>