<div id="postbox" class="form">
    <textarea class="postbox-input" ng-model="posts.newPostContent"></textarea>
    <br/>

    <div class="inline">
        <a class="non-decor logged-user-icon" tabindex="-1" href="#users/{{ loggedUser.username }}">
            <div user-photo photo="loggedUser.profileImageData" class="user-small-img inline"></div>
            <h3 class="inline postbox-username">as {{ loggedUser.name }}</h3>
        </a>
    </div>

    <div class="show-right show-bottom inline">
        <button type="submit" class="profile-btn btn" class="btn" ng-click="posts.addNewPostToUserWall(currentUser.username, posts.newPostContent)">Submit</button>
    </div>
</div>