<div ng-repeat="post in postsData">
    <div class="post" id="post-{{ post.id }}">
        <div class="post-header row">
            <div class="author-data col-8">
                <div user-preview user="post.author"></div>
                <div ng-if="post.author.username !== post.wallOwner.username">
                    <h3 class="inline user-name">wrote to</h3>
                    <div class="inline" user-preview user="post.wallOwner"></div>
                </div>
            </div>

            <p class="date-time col-4">{{ post.date | date: 'd MMM yyyy HH:mm:ss' }}</p>
        </div>

        <p class="text-content">{{ post.postContent }}</p>

        <div class="post-commands previewParent">
            <div class="inline likes">
                <span class="inline">{{ post.likesCount }}</span>
                <img class="small-icon" src="/img/like-icon.png"/>
                <div ng-if="post.author.isFriend || post.author.username === loggedUser.username">
                    <a href="" ng-click="posts.likePost(post.id)" ng-hide="post.liked">Like</a>
                    <a href="" ng-click="posts.unlikePost(post.id)" ng-show="post.liked">Unlike</a>
                </div>
            </div>

            <div class="inline comments" ng-controller="commentController" ng-mouseleave="comments.showAddForm=false">
                <span class="inline">{{ post.totalCommentsCount }}</span>
                <img class="small-icon" src="/img/comment-icon.png"/> <!-- TODO: Comment img-->
                <div ng-if="post.author.isFriend || post.author.username === loggedUser.username">
                    <a href="" ng-click="comments.showAddForm = !comments.showAddForm">Comment</a>
                    <form class="post-popup preview" id="addCommentToPost{{ post.id }}" data-ng-show="comments.showAddForm">
                        <textarea autofocus="autofocus" id="new-comment-{{ comment.id }}" ng-model="comments.newCommentContent"></textarea>
                        <a href="" class="comment-commands" ng-click="comments.addCommentToPost(post.id, comments.newCommentContent)">
                            Add Comment
                        </a>
                    </form>
                </div>
            </div>

                <div class="inline edit-post" ng-mouseleave="post.showEditForm=false" ng-if="post.author.username === loggedUser.username">
                <a href="" ng-click="post.showEditForm = !post.showEditForm">Edit Post</a>
                <form class="post-popup preview" id="edit-post-{{ post.id}}" data-ng-show="post.showEditForm">
                    <textarea autofocus="autofocus" id="edit-post_{{ post.id }}-text" ng-model="post.editPostContent"></textarea>
                    <a href="" class="comment-commands" ng-click="posts.editPost(post.id, post.editPostContent)">
                        Edit
                    </a>
                </form>
            </div>

            <div class="inline delete-post" ng-if="post.author.username === loggedUser.username || post.wallOwner.username === loggedUser.username">
                <a href="" ng-click="posts.deletePost(post.id)">Delete Post</a>
            </div>
        </div>

        <div comments></div>
    </div>
</div>