.wrapper {
    text-align: center;
}

.form {
    padding: 10px;
    margin: 0 20px;
    border: 2px solid black;
    display: inline-table;
    text-align: left;
}

.buttons {
    text-align: center;
    padding: 20px 0;
}

.comment {
    border: 1px solid red;
    margin-left: 5%;
    border-radius: 10px;
    padding: 10px 25px 40px;
    display: inline-block;
}

.post {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 25px 40px;
    display: inline-block;
}

.box {
    border: 1px solid black;
}

.inline {
    display: inline-table;
}