.wrapper {
    text-align: center;
}

.form {
    padding: 10px;
    margin: 0 20px;
    border: 2px solid black;
    display: inline-table;
    text-align: left;
}

.buttons {
    text-align: center;
    padding: 20px 0;
}

.comment {
    width: 95%;
    border: 1px solid red;
    margin: 10px 0;
    border-radius: 10px;
    padding: 10px 25px 40px;
    display: inline-block;
}

.post {
    width: 95%;
    border: 1px solid black;
    padding: 10px 25px 40px;
    display: inline-block;
    margin: 10px 0;
}

.box {
    border: 1px solid black;
}

.inline {
    display: inline-table;
}

.user-small-img * {
    width: 50px;
}

.user-mid-img * {
    width: 150px;
}

nav.navbar * {
    display: inline-block;
}

.previewParent {
    position: relative;
}

.preview {
    background-color: white;
    position: absolute;
    z-index: 2;
}

.mid-border-black {
    border: 2px solid black;
}

.found-user {
    width: 100%;
}

.found-user-separator {
    size: 2px;
    width: 80%;
}

.friend-request-count {
    width:20px;
    height:20px;
    border-radius:50%;
    font-size: 17px;
    color: white;
    text-align: center;
    background: red;
    border: 3px solid black;
}